.textColor {
    color: red;
}

.buttonGroup .btn {
    margin-right: 10px;
}

.title {
    color: #767070c4;
}

.customtable thead {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
}

.customtable,
.customtable th,
.customtable td {
    border: none;
}

.customtable tbody tr {
    border-bottom: 1px solid #dee2e6;
    /* Light grey color for row separation */
}

.searchClass {
    height: 38px;
    border-radius: inherit;
    border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
    cursor: pointer;
    height: 38px;
}
.highlightDiscount {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}
.highlightTax {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
