@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-documenteditor/styles/material.css";
@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  background-color: #F4F7FA;
  color: #000;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.35rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1rem;
}
.navbar .nav-link {
  color: #000;
  font-size: 16px;
  margin: 0 5px;
  font-weight: 600;
}
.navbar .nav-link i {
  position: relative;
  top: 2px;
  right: 2px;
}
.navbar .nav-link.active {
  color: #004eff !important; /* Highlight active menu text */
  position: relative; /* For positioning the underline */
}
.navbar .nav-link.active::before {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #004EFF;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.navbar-brand {
  width: 230px;
  margin-left: -10px;
  text-align: center;
}
.sidebar {
  background-color: #fff;
  height: calc(100vh - 90px);
  box-shadow: 0 0 10px #E9EDF3;
  overflow: auto;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
.sidebar::-webkit-scrollbar-thumb {
  background: #888; 
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.sidebar .nav-item > .nav-link.active{
  background-color: #E5FFFF;
}
.sidebar .nav-link {
  color: #333;
  font-size: .92rem;
  font-weight: 600;
  /* border-bottom: 1px dotted #bbc9de; */
  border-radius: 0;
  padding: 12px 10px;
}
.sidebar .nav-link i {
  position: relative;
  top: 2px;
  right: 2px;
}
.sidebar .nav-link span {
  float: right;
  font-size: 0.65rem;
  background-color: #004EFF;
  color: #fff;
  width: 30px;
  padding: 1px 0;
  text-align: center;
  border-radius: 15px;
  margin-top: 2px;
  display: none;
}
.sidebar-h {
  background-color: #004eff;
  height: 46px;
  width: 100%;
}
.sidebar-h .nav-item > .nav-link.active{
  background-color: #E5FFFF;
}
.sidebar-h .nav-link {
  color: #fff;
  font-size: .92rem;
  font-weight: 600;
  /* border-bottom: 1px dotted #bbc9de; */
  border-radius: 0;
  padding: 12px 10px;
}
.sidebar-h .nav-link i {
  position: relative;
  top: 2px;
  right: 2px;
}
#page-content-wrapper {
  width: calc(100% - 225px);
  position: absolute;
  right: 0;
  top: 55px;
}
#page-content-wrapper1 {
  width: 100%;
  position: absolute;
  right: 0;
  top: 110px;
}
#sidebar-wrapper {
  width: 215px;
  height: 100%;
  position: fixed;
  left: 15px;
  top: 75px;
  padding: 0;
}
#sidebar-wrapper-h {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 60px;
  padding: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {  
  color: #004EFF;
}
html, body, #__next {
    height: 100%;
}
#page-content-wrapper {
  padding: 20px;
}
.custom-modal-width {
  max-width: 98%;
}

.ag-root-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
  
.custom-modal-width {
  max-width: 98%;
}

.ck-editor__editable {
  min-height: 500px;
  max-height: 600px;
  min-width: 700px;
}

.form-control {
  border-radius: 0;
  appearance: auto;
  -webkit-appearance: auto;
}
input[type=text].form-control, select.form-control  {
  height: 40px;
}
.listHead {
  font-weight: 600;
  margin: 0px 0 0 0;
  /* padding: 10px 0; */
  height: 46px;
  line-height: 46px;
  border-bottom: 1px dashed #BAC6D6;
  text-transform: uppercase;
  color: #5C6672;
  box-shadow: inset 0 7px 9px -7px #97a9c485;
}
.listBody{
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.listBody .row {
  padding: 0;
  height: 46px;
  line-height: 46px;
  margin: 0;  
  background-color: #fff;
  border-bottom: 1px dashed #BAC6D6;
  
}
.listBody .row:nth-child(even) {
  background-color: #fcfcfc;
}
.listBody .row.selected {
  background-color: #e5ffff;
}

ul.pagination {
  float: right;
}
.white-bg {
  background-color: #fff;
}
.btn-theme {
  background-color: #004EFF;
  color: #fff;
}
.btn-theme:hover, .btn-theme:focus {
  background-color: #0046e9;
  color: #fff;
}
.btn-theme-light {
  background-color: #E1EDFF;
  color: #000;
  border: 1px solid #BAC6D6;
}
.search-text { 
  border:1px solid #004EFF;
}

.btn i {
  top: 2px;
  right: 2px;
  position: relative;
}

.sidebar .nav-item > .nav-link.active::after {
  content:'';
  height: 10px;
  width: 3px;
  position: absolute;
  right: 0;
  top: 2px;
}
.action {
  text-align: left;
  display: flex;
}
.action .btn {
  height: 37.5px;
}

.pagination li:first-child .page-link, .pagination li:last-child .page-link {
  border-radius: 0;
}
.active>.page-link, .page-link.active {
  background-color: #0046e9;
  border-color: #0046e9;
}

#menu {
  background: #E1EDFF;
  display: block;
  float: left;
  margin-left: 10px;
  border: 1px solid #BAC6D6;
  padding: 0;
  color: #000;
}

#menu ul,
#menu li {
  margin: 0 0;
  padding: 0 0;
  list-style: none
}

#menu ul {
  height: 40px
}

#menu li {
  float: left;
  display: inline;
  position: relative;    
}

#menu a {
  display: block;
  line-height: 36px;
  padding: 0px 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

#menu a.prett i {
  top: 2px;
  position: relative;
}

#menu li:hover > a,
#menu li a:hover {
  background: #fff
}

#menu ul.menus {
  height: auto;
  width: 180px;
  background: #fff;
  position: absolute;
  z-index: 99;
  display: none;
  border: 0;
}

#menu ul.menus li {
  display: block;
  width: 100%;
  text-transform: none;
}

#menu li:hover ul.menus {
  display: block;
  box-shadow: 0 0 10px rgb(222 228 237);
}

#menu ul.menus li a i {
  top: 2px;
  position: relative;
  padding-right: 5px;
}

#menu ul.menus a:hover {
  background: #E5FFFF;
}

#menu ul.menus .submenu {
  display: none;
  position: absolute;
  left: 180px;
  background: #fff;
  top: 0;
  width: auto;
}

#menu ul.menus .submenu li {
  background: #fff;
}

#menu ul.menus .has-submenu:hover .submenu {
  display: block;
}

.offcanvas-body {
  background-color: #F4F7FA;
}

.search-button {
  position: absolute;
  right: 12.5px;
  z-index: 1;
  top: .5px;
  margin: 1px;
  height: 37px;
  width: 36px;
  padding: 0;
  text-align: center;
}
.btn-search-clear {
  position: absolute;
  right: 50px;
  z-index: 1;
  top: 1px;
}
.position-relative {
  position: relative;
}

.modal-lg {
  width: 840px !important;
}
.modal-md {
  width: 640px;
}
.top-40 {
  position: fixed;
  top: 40px;
}

/* Custom Offcanvas sizes */
.canvas-sm {
  width: 25% !important /* Adjust width as needed for medium screens */
}

.canvas-md {
  width: 50% !important /* Adjust width as needed for medium screens */
}

.canvas-lg {
  width: 75% !important /* Adjust width as needed for large screens */
}

.canvas-xl {
  width: 100% !important /* Full width or adjust as needed for extra-large screens */
}

.pt-12 {
  padding-top: 12px;
}
.pt-60 {
  padding-top: 60px;
}
.fc-v-event {
	border: none !important; /* Remove borders */
}
a.fc-event, a.fc-event:hover {
	font-weight: 600;
}
.fc-daygrid-day {
  position: relative;
}

.fc-daygrid-day .task-count {
  font-size: 0.8em;
  color: blue;
  margin-top: 4px;
  text-align: center;
}
.fc-license-message {
  display: none;
}
.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0 1px;
}
.fc-timegrid-cols tbody tr td:nth-child(2).fc-resource {
  background-color: #e6f4ff;
}
.fc-timegrid-cols tbody tr td:nth-child(3).fc-resource {
  background-color: #ffecf2;
}
.fc-timegrid-cols tbody tr td:nth-child(6).fc-resource {
  background-color: #ebffe6;
}
.fc-timegrid-cols tbody tr td:nth-child(4).fc-resource {
  background-color: #fff3e6;
}
.fc-today-button {
  margin-left: 10px;
}
.fc-theme-standard td {
  height: 120px;
}
.fc-daygrid-day {
  height: 100px; /* Set a fixed height for each day slot */
}
.fc-event-background {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  ) !important;
  opacity: 0.75; /* Make it semi-transparent */
}
.fc-scroller table thead tr th:nth-child(2).fc-resource {
  background-color: #e6f4ff;
  color: #1776c1;
}
.fc-scroller table thead tr th:nth-child(3).fc-resource {
  background-color: #ffecf2;
  color: #ba2655;
}
.fc-scroller table thead tr th:nth-child(6).fc-resource {
  background-color: #ebffe6;
  color: #44b129;
}
.fc-scroller table thead tr th:nth-child(4).fc-resource {
  background-color: #fff3e6;
  color: #d98f3f;
}
.fc-daygrid-day-events {
  float: left;
  padding: 5px;
}
ul.weekdays {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
ul.weekdays li {
  padding: 6px 0;
  border: 1px solid #45b100;
  margin-right: 2px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  font-size: 0.75rem;
  background-color: #e0ffcc;
  cursor: pointer;
}
.disabled ul.weekdays {
  display: none;
}
ul.timeSlots {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.timeSlots li {
  display: block;
  margin: 1%;
  background: #baff97;
  border: 1px solid #6bd933;
  padding: 5px;
  border-radius: 3px;
  width: 30%;
  text-align: center;
  float: left;
  font-size: .75rem;
}
.autoCompleteTable tbody tr:hover td {
  background: #ffe1ea;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  box-shadow: none;
}
.fc-v-event {
  background-color: transparent;
  border: 0;  
}
.fc-v-event .fc-event-main {
  content: '';
}
/* .fc-header-toolbar .fc-toolbar-chunk {
  position: absolute;
  left: 15px;
  top: 125px;
}
.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  left: 350px;
}
.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
  left: 170px;
}
.fc .fc-view-harness-active > .fc-view {
  top: 20px;
} */
.cal-actions {
  width: auto;
  position: absolute;
  right: 0;
  display: flex;
  top: 75px;
}
.cal-actions div:first-child {
  width: auto;
}
.cal-actions .btn {
  float: left;
}
.cal-actions .dropdown {
  float: left;
}
.tabType button {
  background-color: #fff;
  border: 0px solid #ddd;
  border-bottom: 2px solid #0046e9;
  color: #0046e9;
}
.patient-info-header {  
  background: repeating-linear-gradient(45deg, #e4edff, #dde8ff 3px, #d0deff 3px, #d8e4ff 6px);
  border: 1px solid #c0d3ff;  
}
.patient-info-header p.card-text {
  text-transform: uppercase;
  font-size: 0.85rem;
}
.patient-info-header h6.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.login-bg {
  background-image: url(../../public/vard-emr-login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fc-toolbar-chunk [type=button] {
  text-transform: capitalize;
}
.notify {
  background-color: #ffdedb;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
}
.notify i {
  animation: bell .7s linear infinite;
}
@keyframes bell {
  50% {
    opacity: 0;
  }
}
.patient-form .container-fluid {
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}
.formActions {
  position: absolute;
  right: 5px;
  top: 10px;
}