/* src/components/layout/Header.module.css */

/* Customize Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 0 10px #E9EDF3;
  height: 60px;
}
ul.navbar-nav li.nav-item a.nav-link {
  color: #000 !important;
  font-size: 16px !important;
  margin: 0 5px;
  font-weight: 600;
}
.navbar .nav-link i {
  position: relative;
  top: 2px;
  right: 2px;
}
.navbar-brand {
  width: 230px;
  margin-left: -10px;
  text-align: center;
}

.navbar {
  /* Your navbar styles */
}

.nav-link {
  text-decoration: none;
  color: #000; /* Default color */
  padding-bottom: 5px; /* To create space for the underline */
  transition: all 0.3s ease; /* Smooth transition for color and underline */
}

.nav-link:hover {
  color: #0056b3; /* Blue on hover */
}

.active {
  color: #0056b3; /* Highlight active menu text */
  position: relative; /* For positioning the underline */
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px; /* Thickness of the underline */
  background-color: #0056b3; /* Blue underline */
  position: absolute;
  bottom: 0; /* Align the underline to the bottom */
  left: 0; /* Start underline from the left */
}
