@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @media print {
	body {
		margin: 0 !important;
	}
} */

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}


.textColor {
    color: red;
}

.buttonGroup .btn {
    margin-right: 10px;
}

.title {
    color: #767070c4;
}
.ckeditor__editable {
    min-height: 500px;
    max-height: 600px;
    min-width: 700px;
}

.editor {
    display: block; 
}
.paddingUnset {
	padding: unset;
	border: unset;
}

.calendarApp {
	display: flex;
	min-height: 100%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

.calendarAppMain {
	flex-grow: 1;
	padding: 3em;
}

.fc {
	/* the calendar root */
	max-width: 1100px;
	margin: 0 auto;
}

.typeaheadTableRow {
  display: flex;
  background-color: #ffffff;
}
.typeaheadTableRowOdd {
  display: flex;
  background-color: #f9f9f9;
}

.typeaheadTableCell {
  width: 50%;
  padding: 5px;
  /* border-bottom: 1px solid #ddd; */
}

/* TypeaheadDynamic css */

.typeaheadContainer {
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
	z-index: 1050;

  }
  
  .typeaheadHeader {
	display: table;
	width: 100%;
	background-color: #f1f1f1;
	font-weight: bold;
	padding: 5px;
  }
  
  .typeaheadHeaderRow {
	display: flex;
  }
  
  .typeaheadHeaderCell {
	/* display: table-cell; */
	padding: 5px;
	border-bottom: 1px solid #ddd;
	width: 50%;
  }
  
  .typeaheadItem {
	display: table;
	width: 100%;
  }
  
  .typeaheadItemRow {
	display: flex;
  }
  
  .typeaheadItemCell {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	width: 50%;
  }
  
  .typeaheadItemOdd {
	background-color: #f9f9f9;
  }
  
  .typeaheadItemEven {
	background-color: #ffffff;
  }
  
